
<div id="navigation">
<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="menu" data-responsive-menu="accordion">
        <li class="menu-text">Study Buddy</li>
<<<<<<< HEAD
        <li><%= link_to "Subjects" %></li>
        <li><%= link_to "Study Groups" %></li>
        <li><%= link_to "Locations" %></li>
=======
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
>>>>>>> 4fe765e6074e4bc34de839f6bd5bdf18e6c92d7c
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#">My Account</a></li>
        <li><a class="button">Login</a></li>
      </ul>
    </div>
</div>
<<<<<<< HEAD
=======
</div>
</div>
>>>>>>> 4fe765e6074e4bc34de839f6bd5bdf18e6c92d7c
