<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<section class="about">

</section>
    
    
<div class="row">
  <div class="small-6 small-centered columns">
    
    <div class="service">
      <div class="service-icon-box">
        <img src="http://icons.iconarchive.com/icons/flat-icons.com/flat/512/Beer-icon.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">About Us</h4>
      <p class="service-description">Studdy Buddy was created to provide a better way for students to connect outside of the classroom.
      Group work exposes you to new ideas and helps reinforce what you know.</p>
    </div>
    
  </div>
</div>
