<link rel="stylesheet" href="css/foundation-icons.css" />

<section class="about">

</section>
    
<br>    
<div class="row">
  <div class="small-8 medium-6 large-5 small-centered columns">

    <div class="header panel">
      <div class="sign">
        <h1>About Us</h1>
      </div>
      <p>Studdy Buddy was created to provide a better way for students to connect outside of the classroom.</p>
  
  </div>
</div>
