<link rel="stylesheet" href="css/foundation-icons.css" />

<div class="row">
  <div class="medium-4 columns">
    <div class="contact-card">
      <img src="https://pipedot.org/thumb/JEVW.jpg">
      <div class="contact-info">
        <h4 class="subheader">Tyler Braden</h4>
        <p><a href="https://dawgden.tacoma.uw.edu/organization/HuSCII">HuSCII</a> | <a href="https://github.com/theKrumm">GitHub</a></p>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="contact-card">
      <img src="http://images.all-free-download.com/images/graphiclarge/cheese_burger_clip_art_23239.jpg">
      <div class="contact-info">
        <h4 class="subheader">Tempest Parr</h4>
        <p><a href="https://dawgden.tacoma.uw.edu/organization/HuSCII">HuSCII</a> | <a href="https://github.com/tparr">GitHub</a></p>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="contact-card">
      <img src="https://38.media.tumblr.com/avatar_7fdc5d803cf2_128.png">
      <div class="contact-info">
        <h4 class="subheader">Ian McPeek</h4>
        <p><a href="https://dawgden.tacoma.uw.edu/organization/HuSCII">HuSCII</a> | <a href="https://github.com/ianmcpeek">GitHub</a></p>
      </div>
    </div>
  </div>
</div>
