

<div id="stars">
    
    <div class="row">
      <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfp1/v/t1.0-9/10609485_814849758547633_4418903364835123973_n.jpg?oh=02594be30356da762a96a1f330036a3d&oe=577135DF">
          <div class="profile-info">
            <h4 class="subheader">Tyler Braden</h4>
            <p>Waffle enthusiast.</p>
            <p><strong>WAFFLEZ -</strong> I LIKE THEM!</p>
            <p><a href="https://dawgden.tacoma.uw.edu/organization/HuSCII/roster">HuSCII Coding</a> | 
            <a href="https://github.com/theKrumm">GitHub</a></p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xfp1/v/t1.0-9/381962_2712556846145_580887624_n.jpg?oh=2a38a01d788c7c0e58774c2b4bee882e&oe=57362841">
          <div class="profile-info">
            <h4 class="subheader">Tempest Parr</h4>
            <p>Puppy enthusiast.</p>
            <p><strong>PUPPIEZ - </strong>I LIKE THEM!</p>
            <p><a href="https://dawgden.tacoma.uw.edu/organization/HuSCII/roster">HuSCII Coding</a> | 
            <a href="https://github.com/tparr">GitHub</a></p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpf1/v/t1.0-9/12552682_111424635905030_4174527002166967794_n.jpg?oh=85033cf190e722858c3ca9f074ad6e79&oe=5734D34B">
          <div class="profile-info">
            <h4 class="subheader">Ian McPeek</h4>
            <p>Wizard staff enthusiast.</p> 
            <p><strong>WIZARD STAFF -</strong> GRAND WIZARD!</p>
            <p><a href="https://dawgden.tacoma.uw.edu/organization/HuSCII/roster">HuSCII Coding</a> | 
            <a href="https://github.com/ianmcpeek">GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
    
</div>