<div class="groups">

    <div class="row column text-center">
        <h2>Study Group Finder</h2>
        <hr>
    </div>
    <div class="row small-up-2 medium-up-3 large-up-6">
        <div class="column">
            <img class="thumbnail" src="huskey.png">
            <h5>Subject: example</h5>

            <a href="#" class="button small expanded hollow">Explore</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="huskey.png">
            <h5>Subject: example</h5>

            <a href="#" class="button small expanded hollow">Explore</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="huskey.png">
            <h5>Subject: example</h5>

            <a href="#" class="button small expanded hollow">Explore</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="huskey.png">
            <h5>Subject: example</h5>

            <a href="#" class="button small expanded hollow">Explore</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="huskey.png">
            <h5>Subject: example</h5>

            <a href="#" class="button small expanded hollow">Explore</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="huskey.png">
            <h5>Subject: example</h5>

            <a href="#" class="button small expanded hollow">Explore</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="medium-4 columns">
            <h4>Related Topics</h4>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
        </div>
        <div class="medium-4 columns">
            <h4>Related Topics</h4>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
        </div>
        <div class="medium-4 columns">
            <h4>Related Topics</h4>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
            <div class="media-object">
                <div class="media-object-section">
                    <img class="thumbnail" src="small_icon.gif">
                </div>
                <div class="media-object-section">
                    <h5>Subject: example</h5>
                    <p>Discription: info regarding subject and group</p>
                </div>
            </div>
        </div>
    </div>
</div>