<link rel="stylesheet" href="css/foundation-icons.css" />

<div class="homepage">

  <div class="hero">
  
    <div class="searchbar">
    
        <div class="small-12 columns"></div>
          <h1 class="text-center">STUDY BUDDY</h1>
  
          <div class="row">
            <div class="small-12 large-8 small-centered columns">
              <%= form_tag(groups_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Find Your Class (e.g. TMATH 115)" %>
              <div class="row">
                <div class="small-4 medium-3 large-2 small-centered columns">
                  <%= submit_tag "Go", class: 'expanded button', :subject => nil %>
                </div>
              </div>
              <% end %>
        
            </div>
          </div>
    </div>
  </div>
  
  
    <div class="row features">
      <div class="medium-4 columns">
        <div class="round-icon">
          <span class="fi-magnifying-glass"></span>
        </div>
        <h3>Find a subject</h3>
        <p>Search for the class you want to study.</p>
        <hr>
      </div>
      <div class="medium-4 columns">
        <div class="round-icon">
          <span class="fi-checkbox"></span>
        </div>
        <h3>Pick a group</h3>
        <p>Select the group that fits your schedule.</p>
        <hr>
      </div>
      <div class="medium-4 columns">
        <div class="round-icon">
          <span class="fi-torsos-all"></span>
        </div>
        <h3>Start studying</h3>
        <p>Connect, collaborate, and learn with your peers.<p>
        <hr>
      </div>
    </div>
  
  <br>
  
    <div class="row">
      <div class="small-4 medium-3 large-2 small-centered columns">
        <%= link_to "Get Started!", signup_path, :class=> "button" %>
        <!--<a class="expanded button">Get Started!</a>-->
      </div>
    </div>
    
    
    <hr>
    
    <div class="row">
      <div class="medium-6 columns">
        <div class="box">
          <!--<div class="box-icon">-->
          <!--  <span class="fi-pencil"></span>-->
          <!--</div>-->
          <div class="info">
            <h3 class="text-center">Subjects</h4>
            <p>Currently trending subjects</p>
            <ul>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
              <li><a href="#">Four</a></li>
              <li><a href="#">Five</a></li>
            </ul>
    
          </div>
        </div>
      </div>
      <div class="medium-6 columns">
        <div class="box">
          <!--<div class="box-icon">-->
          <!--  <span class="fi-home"></span>-->
          <!--</div>-->
          <div class="info">
            <h3 class="text-center">Spaces</h4>
            <p>Available study locations</p>
            
            <ul>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
              <li><a href="#">Four</a></li>
              <li><a href="#">Five</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
</div>