

 
<br>
<div class="row">
<div class="medium-7 large-6 columns">
<h1>Let us help you find a study buddy</h1>
<p class="subheader">Find a buddy and start to study! HAHAHAHAHAHahahahah ha ha haaaaa..... HA!</p>
<button class="button">Take a Tour</button>
<button class="button">Start a free trial</button>
</div>
<div class="show-for-large large-3 columns">
<img src="https://lh4.ggpht.com/q_SKlUNO4GTQtEK7H__2Q1F4Pb9KKKcxqiBP-C8zRW-7l8ol1Iiwq-N-KBlcnzf6sZM=w300">
</div>
<div class="medium-5 large-3 columns">
<div class="callout secondary">
<form>
<div class="row">
<div class="small-12 columns">
<label>Enter a Subject
<input type="text" placeholder="Math, Science, etc..">
</label>
</div>
<div class="small-12 columns">
<label>Enter Location:
<input type="text" placeholder="city/state or zip">
</label>
<button type="submit" class="button">Search Now!</button>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="row column">
<hr>
</div>

