<h1>Pages#register</h1>
<p>Find me in app/views/pages/register.html.erb</p>
<form>
 First name:<br>
 <input type="text" name="firstname"><br>
 Last name:<br>
 <input type="text" name="lastname">

 <button>Click me!</button>
</form>
