/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */



/* CONTACT PAGE */
.contact {
  background: url(/contact.jpg) no-repeat center center;
  background-size: cover;
  height: 50vh; 
  margin-bottom: 5em }
  .contact:before {
    margin-top: 50px;
    height: 50vh;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #999, #999);
    opacity: .4; }
    
.contact_header {
  margin: 3rem auto; }
  .contact_header p {
    font: 1rem "Avenir Next";
    text-align: center; }
    .contact_header h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 0.25em;
      color: #666;
      font-size: 2.5rem;
      text-align: center; }    
    
.contact-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff; }
  .contact-card img {
    width: 8rem;
    height: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888; }
  .contact-card .contact-info {
    padding: 1rem; }
    .contact-card .contact-info h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase; }
    .contact-card .contact-info p {
      text-align: center; }
/* END CONTACT PAGE */




.container {
  padding-top: 50px;
}



/* ABOUT PAGE  */
.about {
  background: url(about.jpg) no-repeat center center;
  background-size: cover;
  height: 50vh; }
  .about:before {
    margin-top: 50px;
    height: 50vh;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #999, #999);
    opacity: .4; }
.about_header {
  margin: 3rem auto; }
  .about_header p {
    font: 1rem "Avenir Next";
    text-align: center; }
    .about_header h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 0.25em;
      color: #666;
      font-size: 2.5rem;
      text-align: center; }
/*END ABOUT PAGE */


/*  NAV BAR */

/* Small Navigation */
.title-bar {
  background-color: #fff;  
  height: 50px;  
}
.menu-icon {
  background-color: #0DA2C2;
  margin-top: 0.5em;
}
.title-bar-title {
  color: #0DA2C2; 
  margin-top: 0.5em;
}

/* Medium & Large Navigation*/
#navigation {
position: fixed;
z-index: 10; 
width: 100%; }
#navigation .top-bar {
 background-color: #fff; }
#navigation .menu-text {
  letter-spacing: 0.1em;
  font: bolder 1rem "Avenir Next";
  color: #666;
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0; }
#navigation .menu {
  font: 1rem "Avenir Next"; }
#navigation .top-bar-left a {
  color: #666; 
  background-color: #fff; }
#navigation .top-bar-left a:hover {
  color: #0DA2C2;
  background-color: #fff; }
#navigation .top-bar-right .left a {
  border-radius: 0px;
  border: solid 1px #fff;
  color: #0DA2C2; 
  background-color: #fff; }
#navigation .top-bar-right .left a:hover {
  color: #0a778f;
  background-color: #fff; }
#navigation .top-bar-right .right a {
  border-radius: 4px;
  border: solid 1px #ccc;
  color: #fff; 
  background-color: #0DA2C2; }
#navigation .top-bar-right .right a:hover {
  color: #fff;
  background-color: #0a778f; }
@media only screen and (min-width: 40.063em) {
  .title-bar {
    display: none; }
}



.footer {
  text-align: center; }
.footer p {
  font: 0.75rem "Avenir Next";
  color: #999999;
  float: right;
  margin-top: 0.5rem; }
.footer li {
  font: bolder 0.75rem "Avenir Next"; }
.footer a {
  font: 0.75rem "Avenir Next";
  color: #0DA2C2;
  float: right; }
.footer a:hover {
  color: #0a778f;
  background-color: transparent; }


/* MAIN SEARCH BAR  */
.hero {
  background: url(/home1.jpg) no-repeat center center;
  background-size: cover;
  height: 80vh; 
} 
  .hero:before {
    margin-top: 50px;
    height: 80vh;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #333, #333);
    opacity: .4; }
   .searchbar {
    padding-top: 50rem;
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    margin-top: 5rem;
    color: #fff;
    font: bolder 0.875rem "Avenir Next";
    font-size: 2.5rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center; }

  .hero p {
    color: #fff;
    line-height: 2.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
    
/*INSTRUCTIONS ON MAIN PAGE*/
.features {
  color: #999999;
  text-align: center; }
  .features p {
    font: 1rem "Avenir Next"; }
  .features h3 {
    font: bolder 1.75rem "Avenir Next"; }
  .features hr {
    width: 25%;
    margin: 1rem auto; }
  .features .round-icon {
    background-color: #999999;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 80px auto 1rem;
    width: 100px;
    font-size: 3rem; }
    .features .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  @media only screen and (max-width: 40em) {
    .features .columns {
      margin-bottom: 5rem; } }


 /*SUBJECTS AND SPACES CARDS */
.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 50px; }

.info h3 {
  color: #999999;
  font: bolder 1.75rem "Avenir Next"; }
.info p {
  font: 1rem "Avenir Next";
  text-align: center;
  color: #999999;
  padding-top: 10px; }
.info a {
  color: #0DA2C2; }
.info ul {
  text-align:center; }
  .info li {
    display:inline;
    padding:1em; }





#signup {
  background: url("/bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 95vh; }
.signup-panel {
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  padding: 15px; }
#signup .welcome {
  font: bolder 0.875rem "Avenir Next";
  color: #666;
  font-size: 2rem;
  text-align: center;
  margin-left: 0;
  padding-top: 50px; }
.signup-panel p {
  font: 1rem "Avenir Next";  
  text-align: center; }


/* NEW GROUP FORM */

#new-group, #signin, #edit {
  background: url(/forms.jpg) no-repeat center center;
  background-size: cover;
  min-height: 95vh; }
#new-group .welcome, #signin .welcome, #edit .welcome {
  font: bolder 0.875rem "Avenir Next";
  color: #666;
  font-size: 2rem;
  text-align: center;
  margin-left: 0;
  padding-top: 50px; }
#new-group .p, #signin .p, #edit .p {
  font: 1rem "Avenir Next";  
  text-align: center; }
.field input {
 background-color: rgba(255,255,255,0.5);
 font-size: 14px; }
.date-select {
  background-color: rgba(255,255,255,0.5);
  display: inline-block;
  width: 18%;
  position: relative;
  font-size: 14px; }
.location-select {
   background-color: rgba(255,255,255,0.5);
   font-size: 14px;
   height: 80%; }
.fields {
  display: inline-block;
  /*width: auto;*/ }
.checkbox {
  text-align: center; }



  




   
   
 
.button {
    border-radius: 4px;
    border: solid 1px #20538D;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #0DA2C2; }
    .button:hover {
        background-color: #074f5f; }
a:hover {
  color: #074f5f;
  background-color: transparent; }
  
  
  
  /* PROFILE PAGE */
.profile-card {
  padding-top: 25px;
  /*padding-bottom: 25px;*/
  border-radius: 5px;
  background: #074f5f;
  overflow: hidden;
}
.profile-card h4 {
  font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 2rem;
}
.profile-card h4 span {
  font-size: 20px;
  color: #fff;
  display: block;
}
.profile-card p {
  padding-left: 1rem;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;
  color: #fff;
}
.profile-card a {
  font-size: 12px;
  margin-bottom: 2rem;
  color: #fff;
}


@media only screen and (max-width: 767px) {
  .profile-card img {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .profile-card h4, .profile-card p {
    text-align: center;
  }
  .profile-card .button-group .button {
    font-size: 14px;
  }
  .profile-card .button-group .button span {
    font-size: 20px;
  }
}
/* END PROFILE PAGE */



/* GROUPS AND LOCATIONS */
#list-groups h4 {
  font: bolder 0.875rem "Avenir Next";
  color: #666;
  font-size: 2rem;
  text-align: center; 
  margin-bottom: 2rem; }
  
.listgroups {
  width: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff; }
  .listgroups h5 {
    font: bolder 0.875rem "Avenir Next";
    color: #666;
    font-size: 1.5rem;
    text-align: center; }
    .listgroups .inline-list {
      text-align: center; }
      .listgroups .inline-list li {
        font-size: 1rem;
        float: none;
        display: inline-block; 
        margin-bottom: 2rem; }
        
    .listgroups .list-details {
      font: 1rem "Avenir Next";
      color: #666;
      font-size: 1.5rem;
      text-align: center;
      margin: 1rem; }
      .listgroups .vertical-list li {
        font-size: 1rem;
        float: none;
        display: block; 
        margin-bottom: 2rem; }
        
    .list_button {
      border-radius: 4px;
      border: solid 1px #20538D;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 0.85rem;
      padding: 0.45rem;;
      background-color: #0DA2C2; 
      background-size: 20rem;}
      .list_button:hover {
        background-color: #074f5f; }
        
      

